<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Calendar Widget</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div class="calendar">
      <header class="calendar__header">
        <div class="calendar__month"></div>
        <div class="calendar__year"></div>
      </header>
      <div class="calendar__grid">
        <div class="calendar__day-names">
          <span class="calendar__day-name">П</span>
          <span class="calendar__day-name">В</span>
          <span class="calendar__day-name">С</span>
          <span class="calendar__day-name">Ч</span>
          <span class="calendar__day-name">П</span>
          <span class="calendar__day-name">С</span>
          <span class="calendar__day-name">В</span>
        </div>
        <div class="calendar__day-numbers"></div>
      </div>
    </div>
    <div id="root"></div>
    <script src="{% static 'script.js' %}"></script>
    <script> params={{ params|safe }}; create_calendar(params);</script>
  </body>
</html>